doctype 5
html
    head
        block title
            title Blogue
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        block cssglobal
        link(rel="stylesheet" href="/stylesheets/bootstrap.min.css" media="screen")
        link(rel="stylesheet" href="/stylesheets/style.css")
        script(src="/vendor/jquery-2.0.3.min.js")
        script(src="/vendor/bootstrap.min.js")
        block jsview
    body
        block jsbody
        nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
            .navbar-header
                button.navbar-toggle(data-toggle="collapse" data-target="main-nav")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                block caption
                    a.navbar-brand(href="/") Page
            #main-nav.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li(class=onglet=="accueil"?"active":"")
                        a(href="/") Accueil
                    li(class=onglet=="publier"?"active":"")
                        a(href="/admin/publier") Publier
        .container
            block content